html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.clearfix {
    clear:both;
}

#insight-container, #map-canvas {
    height:100%;
    float:left;
}

#insight-container {
    width:350px;
}

#map-canvas {
    width:~"calc(100% - 350px)";
    
}
