html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.clearfix {
    clear:both;
}

#insight-container, #map-canvas {
    height:100%;
    float:left;
}

#insight-container {
    width:350px;
}


#map-canvas {
    width:~"calc(100% - 350px)";
    #zoom-controls, #draw-controls {
        background:#fff;
        margin-top:20px;
        margin-left:20px;
        box-shadow:0px 0px 5px rgba(0,0,0,0.17);  
    }
    #draw-controls {
        margin-top:110px;
        margin-left:-32px;
    }
    #zoom-in, #zoom-out, #draw-controls-draw, #draw-controls-pan {
        padding:10px;
        padding-bottom:8px;
        cursor:pointer;
        &.active {
            background:#eee;
        }
    }
    #zoom-in, #draw-controls-pan {
        border-bottom:1px solid #eee;
    }
}
