html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.clearfix {
  clear: both;
}
ul {
  padding: 0px;
}
#initial-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 165px;
  margin-top: -82px;
  margin-left: -160px;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
  font-family: "Open Sans", sans-serif;
  z-index: 1000;
}
#initial-popup #popup-header {
  font-weight: 400;
  font-size: 16px;
  padding: 20px 20px 15px;
}
#initial-popup #popup-text {
  font-weight: 300;
  font-size: 16px;
  padding: 0px 20px 25px;
}
#initial-popup #popup-close {
  background: #7092ff;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
#initial-popup #popup-close:hover {
  background: #668aff;
}
@media (max-width: 320px) {
  #initial-popup {
    width: 280px;
    margin-left: -140px;
  }
}
#insight-container,
#map-canvas {
  height: 100%;
  float: left;
}
#drag-up,
#drag-down {
  display: none;
  text-align: center;
  position: fixed;
  padding: 5px 0px 2px;
  background: #fff;
}
#drag-up {
  width: 100%;
  bottom: 0;
  z-index: 1000;
}
#drag-down {
  width: 320px;
}
#insight-container {
  width: 0px;
  position: relative;
  overflow: hidden;
}
#insight-container #loading-container {
  position: fixed;
  display: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  height: 50px;
  top: 50%;
  left: 140px;
  margin-top: -25px;
}
#insight-container #loading-container img {
  margin-bottom: 3px;
}
#insight-container #insight-container-inner {
  display: none;
  margin-bottom: 40px;
}
#insight-container #insight-title {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
  padding: 30px 0 0 30px;
}
#insight-container .subcategory-title {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  padding: 15px 30px 15px 30px;
  text-align: left;
}
#insight-container .subcategory-title .subcategory-description {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
}
#insight-container .stats {
  list-style: none;
}
#insight-container .stats li {
  text-align: right;
  font-family: Open Sans;
  margin-top: 10px;
}
#insight-container .stats li .stats-number {
  font-weight: 700;
  font-size: 27px;
}
#insight-container .stats li .stats-unit,
#insight-container .stats li .stats-unit-top {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-left: -2px;
}
#insight-container .stats li .stats-unit-top {
  vertical-align: top;
  margin-top: 4px;
}
#insight-container .stats li .stats-description {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  width: 180px;
  padding-left: 20px;
}
#insight-container .stats li .stats-bullet {
  vertical-align: top;
  margin-top: 17px;
  margin-right: 3px;
  display: inline-block;
  padding-bottom: 3px;
}
#insight-container .stats li .estimate-yield,
#insight-container .stats li .estimate-revenue,
#insight-container .stats li .yield-number,
#insight-container .stats li .revenue-number {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  padding-right: 23px;
}
#insight-container .stats li .revenue-number {
  font-weight: 700;
  font-size: 27px;
}
#insight-container .stats li .revenue-number,
#insight-container .stats li .estimate-revenue {
  padding-right: 27px;
}
#insight-container .stats li .yield-number {
  padding-right: 25px;
}
#insight-container .stats li .crop-type {
  vertical-align: top;
  margin-top: 7px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
}
#insight-container .stats li .yield-number {
  font-weight: 700;
  font-size: 30px;
}
#map-canvas {
  width: 100%;
}
#map-canvas #zoom-controls,
#map-canvas #draw-controls {
  background: #fff;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
#map-canvas #draw-controls {
  margin-top: 110px;
  margin-left: -32px;
}
#map-canvas #zoom-in,
#map-canvas #zoom-out,
#map-canvas #draw-controls-draw,
#map-canvas #draw-controls-pan {
  padding: 10px;
  padding-bottom: 8px;
  cursor: pointer;
}
#map-canvas #zoom-in.active,
#map-canvas #zoom-out.active,
#map-canvas #draw-controls-draw.active,
#map-canvas #draw-controls-pan.active {
  background: #eee;
}
#map-canvas #zoom-in,
#map-canvas #draw-controls-pan {
  border-bottom: 1px solid #eee;
}
#map-canvas #map-controls {
  background: #fff;
  margin-top: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
#map-canvas #map-controls #map-controls-map,
#map-canvas #map-controls #map-controls-satellite {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 5px 12px;
  cursor: pointer;
}
#map-canvas #map-controls #map-controls-map.active,
#map-canvas #map-controls #map-controls-satellite.active {
  background: #eee;
}
#map-canvas #map-controls #map-controls-map {
  border-right: 1px solid #eee;
}
@media (max-width: 360px) {
  html {
    overflow: hidden;
  }
  #insight-container,
  #map-canvas {
    clear: both;
  }
  #insight-container {
    width: 320px;
    height: 0px;
  }
  #insight-container #loading-container {
    margin-top: 75px;
  }
}
@media (width: 360px) {
  #insight-container {
    width: 360px;
  }
  #insight-container #insight-container-inner {
    width: 320px;
    margin-left: 20px;
  }
}
